<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>蔵書管理システム</title>
    <link rel="stylesheet" type="text/css" href="./../css/main.css">
    <script type="text/javascript" src="./../js/lib/jquery-1.9.1.js" charset="utf-8"></script>
    <script type="text/javascript" src="./../js/lib/jquery.fileDownload.js" charset="utf-8"></script>
    <script type="text/javascript" src="./../js/lib/handlebars.js" charset="utf-8"></script>
    <script type="text/javascript" src="./../js/lib/underscore.js" charset="utf-8"></script>
    <script id="lending-item-template" type="text/x-handlebars-template" charset="utf-8">
      <form class="lending-form" data-lending="lending" {{#if owner }}style="display: none"{{/if}}>
        <input type="submit" value="貸出" />
      </form>
      <form class="return-form" data-lending="return" {{#unless owner_me }}style="display: none"{{/unless}}>
        <input type="submit" value="返却" />
      </form>
      <form data-lending="other-lending" {{#unless owner_other }}style="display: none"{{/unless}}>
        <input type="submit" disabled="disabled" value="貸出中" />
      </form>
      <form class="reserve-form" data-lending="reservation" {{#unless owner_other }}style="display: none"{{else}}{{#if reserver_me }}style="display: none"{{/if}}{{/unless}}>
        <input type="submit" value="予約" />
      </form>
      <form class="cancel-reservation-form" data-lending="cancel-reservaion" {{#unless reserver_me }}style="display: none"{{/unless}}>
        <input type="submit" value="予約キャンセル" />
      </form>
      <span class="due-date-block" {{#unless owner}}style="display: none"{{/unless}}>
        返却期限日: <span class="due-date">{{ due_date }}</span>
      </span>
      <span class="reserver-count-block" {{#unless reserver_count}}style="display: none"{{/unless}}>
        現在の予約人数: <span class="reserver-count">{{ reserver_count }}</span>
      </span>
    </script>
    <script id="edit-item-template" type="text/x-handlebars-template" charset="utf-8">
<span class="item-content">{{ value }}</span><img class="edit-mark display-none" title="編集" src="./../images/edit.jpg"  data-item={{ name }} data-value="{{ value }}" data-type="{{ type }}" />
    </script>
    <script id="book-item-template" type="text/x-handlebars-template" charset="utf-8">
<ul class="book-list">
  {{#each items}}
  <li class="book-item" data-book-id="{{ book.id }}">
    <table>
      <tr>
        <td style="display:inline" class="edit-icon">
          <table style="display:inline">
            <tr style="display:inline">
              <td class="expand">
                <img alt="詳細" title="詳細" src="./../images/fold.png" />
                <img class="display-none" alt="詳細" title="詳細" src="./../images/unfold.png" />
              </td>
            </tr>
            {{#if ../option.removable }}
              <tr>
                <td>
                  <img class="remove" alt="削除" title="削除" src="./../images/batsu.png" />
                </td>
              </tr>
            {{/if}}
          </table>
        </td>
        <td class="item">
          <div class="book-description-short" style="font-size: 1.3em" title="タイトル">
            {{template "edit-item-template" value=book.title name="title" type="text" }}
          </div>
          <div class="book-description-short" > 
            <span title="出版年">
              {{template "edit-item-template" value=book.publish_year name="publish_year" type="text" }}
            </span>
            <span title="筆者">
              {{template "edit-item-template" value=book.author name="author" type="text" }}
            </span>
          </div>
          <span class="lending">
            {{#unless ../option.deny_lending}}
            {{template "lending-item-template" context=lending}}
            {{/unless}}
          </span>
          <div class="book-description display-none">
            <div class="book-detail">
              <table>
                <tr>
                  <th>出版社</th>
                  <td>
                    {{template "edit-item-template" value=book.publisher name="publisher" type="select" }}
                  </td>
                </tr>
                <tr>
                  <th>ISBN</th>
                  <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                  <th>種類</th>
                  <td>
                    <span>
                      {{template "edit-item-template" value=book.kind name="kind" type="select" }}
                    </span>
                    <span>
                      <span class="label">ラベル</span>
                      {{template "edit-item-template" value=book.label name="label" type="text" }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <th>配置場所</th>
                  <td>
                    {{template "edit-item-template" value=book.location name="location" type="select" }}
                  </td>
                </tr>
                {{#if book.status }}
                  <tr>
                    <th>状況</th>
                    <td>
                      {{template "edit-item-template" value=book.status name="status" type="select" }}
                    </td>
                  </tr>
                {{/if}}
              </table>
            </div>
            {{#if history }}
            <div class="lending-history">
              <span>貸出履歴</span>
              <table class="bt-lending-history">
                <tr>
                  <th class="user">ユーザー</th><th>開始日</th><th>返却日</th>
                </tr>
                {{#each history}}
                <tr>
                  <td>{{ account }}</td>
                  <td>{{ from }}</td>
                  <td>{{ to }}</td>
                </tr>
                {{/each}}
              </table>
            </div>
            {{/if}}
          </div>
        </td>
      </tr>
    </table>
  </li>
  {{/each}}
</ul>
    </script>
    <script type="text/javascript" src="./../js/app.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      Bibman.init();
    </script>
  </head>
  <body style="padding-bottom: 100px">
    <form><input id="account" type="hidden" value="$u" /></form>
    <a id="top-anchor"></a>
    <div id="menu">
      <ul>
        <li onclick="Bibman.switch_tab('search-contents')">検索</li>
        <li onclick="Bibman.switch_tab('book-register')">書籍登録</li>
        <li onclick="Bibman.switch_tab('my-page')" style="font-size: 1.2em;">$u</li>
        <li style="float:right" id="logout">ログアウト</li>
      </ul>
    </div>
    <div id="search-contents" class="contents">
      <form id="search-form">
        <input type="text" id="search-text" />
        <input type="submit" id="search-submit" value="検索" />
      </form>
      <div id="search-result" style="margin-top: 10px">
        <div class="list-step" style="float: left"></div>
        <div class="list-sort" style="float: right;">
          <select id="search-sort">
            <option value="asc-title" selected="selected" >タイトル昇順</option>
            <option value="asc-publish_year">発行年昇順</option>
            <option value="asc-author">筆者昇順</option>
            <option value="asc-publisher">出版社昇順</option>
            <option value="asc-kind">種類昇順</option>
            <option value="des-title">タイトル降順</option>
            <option value="des-publish_year">発行年降順</option>
            <option value="des-author">筆者降順</option>
            <option value="des-publisher">出版社降順</option>
            <option value="des-kind">種類降順</option>
          </select>
          <select id="search-count-per-page">
            <option value="10" selected="selected">10件</option>
            <option value="20">20件</option>
            <option value="30">30件</option>
            <option value="40">40件</option>
            <option value="50">50件</option>
          </select>
        </div>
      </div>
      <div id="book-search-list"></div>
      <div class="list-step"></div>
    </div>
    <div id="book-register" class="contents" style="display: none">
      <h3>書籍登録</h3>
      <div id="register">
        <form id="book-register-form">
          <table>
            <tr>
              <th>ISBN</th>
              <td>
                <input id="book-register-isbn" type="text" class="text" data-item="isbn" style="width: 147px" />
                <button id="book-register-search" type="button" style="width: 225px">Google Books から情報を取得</button>
              </td>
            </tr>
            <tr>
              <th>タイトル</th>
              <td>
                <input id="book-register-title" type="text" class="text" data-item="title" style="width: 383px" />
              </td>
            </tr>
            <tr>
              <th>筆者</th>
              <td>
                <input id="book-register-author" type="text" class="text" data-item="author" style="width: 383px" />
                <span class="note">
                  コンマ区切リで入力してください
                </span>
              </td>
            </tr>
            <tr>
              <th>出版年</th>
              <td>
                <input id="book-register-publish-year" type="text" class="text" data-item="publish_year" style="width:147px" />年
              </td>
            </tr>
            <tr>
              <th>出版社</th>
              <td>
                <select id="book-register-publisher" data-item="publisher" style="width: 150px"></select>
              </td>
            </tr>
            <tr>
              <th>種類</th>
              <td>
                <select id="book-register-kind" data-item="kind" style="width: 100px"></select>
                <span class="label">ラベル(管理番号)</span>
                <input type="text" class="text" data-item="label" data-ignore="1" style="width: 124px" />
                <span class="note">未記入可</span>
              </td>
            </tr>
            <tr>
              <th>配置場所</th>
              <td>
                <select id="book-register-location" data-item="location" style="width: 100px"></select>
              </td>
            </tr>
            <tr>
              <th>状況</th>
              <td>
                <select id="book-register-status" data-item="status" style="width: 100px"></select>
              </td>
            </tr>
          </table>
          <input type="submit" value="登録" />
        </form>
      </div>
      <h3>ほしい本リスト</h3>
      <div class="list-sort">
        <select id="wishbook-sort">
            <option value="asc-title" selected="selected" >タイトル昇順</option>
            <option value="asc-publish_year">発行年昇順</option>
            <option value="asc-author">筆者昇順</option>
            <option value="asc-publisher">出版社昇順</option>
            <option value="asc-kind">種類昇順</option>
            <option value="asc-status">状況昇順</option>
            <option value="des-title">タイトル降順</option>
            <option value="des-publish_year">発行年降順</option>
            <option value="des-author">筆者降順</option>
            <option value="des-publisher">出版社降順</option>
            <option value="des-kind">種類降順</option>
            <option value="des-status">状況降順</option>
          </select>
      </div>
      <div id="wishbook-list"></div>
  </div>
  <div id="my-page" class="contents" style="display: none">
    <h3>貸出中</h3>
    <div id="my-lending"></div>
    <h3>予約中</h3>
    <div id="my-reservation"></div>
    <h3>貸出履歴</h3>
    <div id="my-history"></div>
  </div>
</body>
</html>
